<%- include("../partials/header") %>
<% if(currentUser){ %>
    <div class="container my-3">
        <a class="btn btn-success" href="/blog/new">New post</a>
    </div>
<% } %>
<div class="container">
    <% posts.forEach(function(post){ %>
        <div class="card my-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/imgs/<%= post.image %>" class="card-img d-none d-md-block" alt="<%= post.image %>">
                    <img src="/imgs/<%= post.image %>" class="card-img card-img-top d-md-none" alt="<%= post.image %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <p class="card-text"><%= post.content.substring(0, 51) %></p>
                        <a class="btn btn-primary mt-5" href="/blog/<%= post._id %>">Go to full post</a>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<%- include("../partials/footer") %>
